.Python
.venv/
*venv
.vscode/
__pycache__/

config.ini
database.sqlite
.python-version
**.env
save.file
*.db
resources/index.html
resources/images/image-2.png
resources/images/image-1.png
notes.txt
*.log
